<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Help! I need somebody /  <br>
  Help! Not just anybody / <br>
  Help! You know I need someone / <br>
  <b>HEEEEEELLLPP!</b> <br>
  If you don't know who sang this, shame on you. What, there was no music before Deadmau5? Darn Whippersnappers.
</p>